<div class="col-10 offset-1 about">
  <h1>About My Apps based on Splurty</h1>

  <p>
  Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Marco</a> & <a target="_blank" href="http://github.com/KenMazaika">Ken</a>. Two web developers who are on a mission to provide persons the technical skills needed to turn ideas into reality. Together they taught hundreds of students how to code and build products people want.
</p>
<br />
<p>
 I, Ghislain A Fonji am delighted to learn from such persons. My apps could be found here <a target="_blank" href="https://github.com/Happy8-8/amundolie">Amundolie</a>
 </p>
 <br />
<p>
  If you want to learn how to code like me - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
</p>

</div>

<div class="row">
    <div class="col-10 col-sm-2" style="padding-top:32px;">
      <%= image_tag 'gaf-meinfg01.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-10 col-sm-8 offset-sm-1">
      <h2 class="text-center">Ghislain A Fonji</h2>
      <br />
      <p>
        Ghislain A Fonji is an aspiring enterpreneur with over 15 years in the health field as a radiographer. Owned an ran his own radiographic imaging company and assisted in opening and running two additional companies. 
      </p>
    </div>
  </div>
  <br class="clear" />
<br />
<br />
<br />
<br />